# --- Database Configuration (Local) ---
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb

# --- Backend Configuration ---
PGHOST=localhost
PGPORT=5432
PGUSER=myuser
PGPASSWORD=mypassword
PGDATABASE=mydb

# App specific
NODE_ENV=development
PORT=3000
ADMIN_EMAILS=admin@salesduo.com,founder@salesduo.com,arnav@salesduo.com
MAX_NOTIFICATIONS_PER_USER=15
FRONTEND_URL=http://localhost:5173
CORS_ORIGINS=http://localhost:5173
# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=<SECRET_EMAIL>
SMTP_PASS=<SECRET_PASSWORD>
SMTP_FROM=<SECRET_EMAIL>

# GOOGLE OAUTH
GOOGLE_CLIENT_ID=<SECRET_CLIENT_ID>

# --- Frontend Configuration ---
VITE_API_BASE_URL=/api
VITE_GOOGLE_CLIENT_ID=<SECRET_CLIENT_ID>